.App {
  text-align: center;
}
.App-logo {
  align-items: center;
  height: 40vmin;
  pointer-events: none;
  margin: 25px 25px 25px 25px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Margen{
  margin: 25px 25px 25px 25px;
  width: auto;
  height: auto;
}
.paperMainDemo{
  width: 70%;
  height: 200px;
  margin: 10px;
  margin-left: 15%;
  margin-top: 100px;
}
.TextFieldDemo{
  width: 90%;
  margin: 10px;
}